<div th:fragment="parent(x,y)">
    <h1>This is  parent fragment</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur illo adipisci porro officiis corporis nobis ad eligendi dolorum reiciendis exercitationem temporibus, magnam enim veniam error quae? Quaerat dignissimos, sit nihil facere, quasi porro id eaque ullam eveniet distinctio libero in ipsa dolorum, sint obcaecati aliquid numquam praesentium quod odio iste.</p>
    <h1>Value of x is <span th:text="${x}"></span> and y is <span th:text="${y}"></span></h1>

</div>