<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myscm</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link data-th-href="@{'/css/output.css'}" rel="stylesheet" />

</head>

<body>
    <div class="w-1/2 mx-auto p-4 bg-gray-300">
        <h1 class="text-2xl font-bold" data-th-text="${name}">hi, Wlcome home pge</h1>
        <h4 data-th-text="${youtubeChannel}">Wlcome to homepage</h4>
        <h4>Github Repositry : <span th:text="${githubRepo}"></span></h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nesciunt maxime, quidem necessitatibus ea
            aperiam cumque voluptates, vel sapiente magnam provident commodi, enim ut ipsam. Distinctio atque minus
            repudiandae corporis accusamus nostrum veniam eveniet pariatur mollitia iusto ipsam accusantium voluptas
            saepe voluptatum nobis corrupti quasi natus, aliquid et blanditiis magni.</p>
    </div>

    <!-- flow  -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>